<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jxust.agritrace.mapper.ProductionRecordMapper">

    <insert id="insertRecord">
        insert into production_record
            (batch_id, operation, material_used, operator_id, record_time, remark)
        values
            (#{batchId}, #{operation}, #{materialUsed}, #{operatorId}, #{recordTime}, #{remark})
    </insert>

    <select id="selectByBatchId" resultType="edu.jxust.agritrace.entity.ProductionRecord">
        SELECT *
        FROM production_record
        WHERE batch_id = #{batchId}
        ORDER BY record_time ASC
    </select>

</mapper>
